Repository Lambert-Nguyen/hoang-lam-heritage-management: changes, and which Codecov flags are due for each by the changed paths.
All: backend, flutter

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

# Coverage thresholds
coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    # Overall project coverage
    project:
      default:
        target: 70%
        threshold: 2%
        if_not_found: success
        if_ci_failed: error
    
    # Pull request coverage
    patch:
      default:
        target: 70%
        threshold: 5%
        if_not_found: success
        if_ci_failed: error

# Files to ignore in coverage reports
ignore:
  - "hoang_lam_backend/*/migrations/**"
  - "hoang_lam_backend/*/tests/**"
  - "hoang_lam_backend/manage.py"
  - "hoang_lam_backend/backend/asgi.py"
  - "hoang_lam_backend/backend/wsgi.py"
  - "hoang_lam_app/test/**"
  - "hoang_lam_app/**/*_test.dart"
  - "hoang_lam_app/**/*.g.dart"
  - "hoang_lam_app/**/*.freezed.dart"

# Comment configuration for pull requests
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Flags for different components
flags:
  backend:
    paths:
      - hoang_lam_backend/
    carryforward: true
  
  flutter:
    paths:
      - hoang_lam_app/
    carryforward: true

Add upload limits, throttling, and image validators
  .claude/settings.local.json
  docs/COMPREHENSIVE_GAP_ANALYSIS_2026_02_13.md
  hoang_lam_backend/.env.example
  hoang_lam_backend/backend/settings/base.py
  hoang_lam_backend/backend/settings/development.py
  hoang_lam_backend/hotel_api/models.py
  hoang_lam_backend/hotel_api/serializers.py
  hoang_lam_backend/hotel_api/views.py
Due: backend

Add rate-plan pricing, backend migrations & UI fixes
  hoang_lam_app/lib/core/storage/hive_storage.dart
  hoang_lam_app/lib/screens/bookings/booking_calendar_screen.dart
  hoang_lam_app/lib/screens/folio/room_folio_screen.dart
  hoang_lam_app/lib/screens/group_booking/group_booking_detail_screen.dart
  hoang_lam_app/lib/screens/guests/guest_detail_screen.dart
  hoang_lam_app/lib/screens/housekeeping/maintenance_detail_screen.dart
  hoang_lam_app/lib/screens/housekeeping/task_detail_screen.dart
  hoang_lam_app/lib/screens/lost_found/lost_found_detail_screen.dart
  hoang_lam_app/lib/screens/messaging/message_template_screen.dart
  hoang_lam_app/lib/screens/night_audit/night_audit_screen.dart
  hoang_lam_app/lib/screens/rooms/room_detail_screen.dart
  hoang_lam_app/lib/screens/settings/settings_screen.dart
  hoang_lam_app/pubspec.lock
  hoang_lam_app/pubspec.yaml
  hoang_lam_backend/hotel_api/admin.py
  hoang_lam_backend/hotel_api/migrations/0017_remove_deprecated_guest_fields_add_rate_plan.py
  hoang_lam_backend/hotel_api/models.py
  hoang_lam_backend/hotel_api/serializers.py
  hoang_lam_backend/hotel_api/services.py
  hoang_lam_backend/hotel_api/views.py
Due: backend, flutter

Extract l10n, theme colors & provider invalidation
  .claude/settings.local.json
  docs/COMPREHENSIVE_GAP_ANALYSIS_2026_02_13.md
  hoang_lam_app/lib/l10n/app_localizations.dart
  hoang_lam_app/lib/screens/bookings/booking_detail_screen.dart
  hoang_lam_app/lib/screens/bookings/booking_form_screen.dart
  hoang_lam_app/lib/screens/bookings/bookings_screen.dart
  hoang_lam_app/lib/screens/finance/finance_form_screen.dart
  hoang_lam_app/lib/screens/finance/receipt_preview_screen.dart
  hoang_lam_app/lib/screens/group_booking/group_booking_form_screen.dart
  hoang_lam_app/lib/screens/guests/guest_form_screen.dart
  hoang_lam_app/lib/screens/housekeeping/maintenance_form_screen.dart
  hoang_lam_app/lib/screens/housekeeping/task_form_screen.dart
  hoang_lam_app/lib/screens/lost_found/lost_found_detail_screen.dart
  hoang_lam_app/lib/screens/lost_found/lost_found_form_screen.dart
  hoang_lam_app/lib/screens/pricing/date_rate_override_form_screen.dart
  hoang_lam_app/lib/screens/pricing/rate_plan_form_screen.dart
  hoang_lam_app/lib/screens/room_inspection/room_inspection_form_screen.dart
  hoang_lam_app/lib/screens/rooms/room_form_screen.dart
  hoang_lam_app/lib/widgets/bookings/booking_card.dart
  hoang_lam_app/lib/widgets/bookings/booking_source_selector.dart
  hoang_lam_app/lib/widgets/finance/record_deposit_dialog.dart
  hoang_lam_app/lib/widgets/folio/add_charge_dialog.dart
  hoang_lam_app/lib/widgets/folio/folio_item_list_widget.dart
  hoang_lam_app/lib/widgets/folio/folio_summary_widget.dart
  hoang_lam_app/lib/widgets/housekeeping/assign_task_dialog.dart
  hoang_lam_app/lib/widgets/rooms/room_status_dialog.dart
  hoang_lam_backend/hotel_api/tests/test_auth.py
  hoang_lam_backend/hotel_api/tests/test_bookings.py
  hoang_lam_backend/hotel_api/tests/test_finance.py
  hoang_lam_backend/hotel_api/tests/test_guests.py
  hoang_lam_backend/hotel_api/tests/test_housekeeping.py
  hoang_lam_backend/hotel_api/tests/test_rooms.py
  hoang_lam_backend/hotel_api/views.py
Due: backend, flutter

Add extensive localization keys and translations
  hoang_lam_app/lib/l10n/app_localizations.dart
  hoang_lam_app/lib/router/app_router.dart
  hoang_lam_app/lib/screens/finance/financial_category_screen.dart
  hoang_lam_app/lib/screens/group_booking/group_booking_form_screen.dart
  hoang_lam_app/lib/screens/housekeeping/maintenance_detail_screen.dart
  hoang_lam_app/lib/screens/housekeeping/maintenance_list_screen.dart
  hoang_lam_app/lib/screens/lost_found/lost_found_detail_screen.dart
  hoang_lam_app/lib/screens/night_audit/night_audit_screen.dart
  hoang_lam_app/lib/screens/notifications/notification_list_screen.dart
  hoang_lam_app/lib/screens/reports/report_screen.dart
  hoang_lam_app/lib/screens/room_inspection/room_inspection_form_screen.dart
  hoang_lam_app/lib/screens/room_inspection/room_inspection_list_screen.dart
  hoang_lam_app/lib/screens/settings/settings_screen.dart
  hoang_lam_app/lib/screens/settings/staff_management_screen.dart
  hoang_lam_app/lib/widgets/bookings/booking_card.dart
  hoang_lam_app/lib/widgets/bookings/booking_source_selector.dart
  hoang_lam_app/lib/widgets/bookings/booking_status_badge.dart
  hoang_lam_app/lib/widgets/common/error_display.dart
  hoang_lam_app/lib/widgets/common/offline_banner.dart
  hoang_lam_app/lib/widgets/finance/currency_selector.dart
  hoang_lam_app/lib/widgets/finance/deposit_status.dart
  hoang_lam_app/lib/widgets/finance/finance_chart.dart
  hoang_lam_app/lib/widgets/finance/record_deposit_dialog.dart
  hoang_lam_app/lib/widgets/folio/folio_item_list_widget.dart
  hoang_lam_app/lib/widgets/folio/folio_summary_widget.dart
  hoang_lam_app/lib/widgets/guests/guest_card.dart
  hoang_lam_app/lib/widgets/guests/guest_history_widget.dart
  hoang_lam_app/lib/widgets/guests/guest_quick_search.dart
  hoang_lam_app/lib/widgets/guests/guest_search_bar.dart
  hoang_lam_app/lib/widgets/housekeeping/assign_task_dialog.dart
  hoang_lam_app/lib/widgets/housekeeping/complete_task_dialog.dart
  hoang_lam_app/lib/widgets/housekeeping/maintenance_card.dart
  hoang_lam_app/lib/widgets/housekeeping/maintenance_filter_sheet.dart
  hoang_lam_app/lib/widgets/housekeeping/task_card.dart
  hoang_lam_app/lib/widgets/housekeeping/task_filter_sheet.dart
  hoang_lam_app/lib/widgets/minibar/minibar_cart_panel.dart
  hoang_lam_app/lib/widgets/minibar/minibar_item_card.dart
  hoang_lam_app/lib/widgets/minibar/minibar_item_list_tile.dart
  hoang_lam_app/lib/widgets/rooms/room_grid.dart
Due: flutter

Replace hardcoded strings with l10n keys
  hoang_lam_app/lib/l10n/app_localizations.dart
  hoang_lam_app/lib/screens/declaration/declaration_export_screen.dart
  hoang_lam_app/lib/screens/folio/room_folio_screen.dart
  hoang_lam_app/lib/screens/group_booking/group_booking_detail_screen.dart
  hoang_lam_app/lib/screens/group_booking/group_booking_list_screen.dart
  hoang_lam_app/lib/screens/minibar/minibar_inventory_screen.dart
  hoang_lam_app/lib/screens/minibar/minibar_item_form_screen.dart
  hoang_lam_app/lib/screens/minibar/minibar_pos_screen.dart
  hoang_lam_app/lib/screens/reports/report_screen.dart
  hoang_lam_app/lib/screens/room_inspection/inspection_template_screen.dart
  hoang_lam_app/lib/screens/room_inspection/room_inspection_detail_screen.dart
  hoang_lam_app/lib/screens/settings/settings_screen.dart
  hoang_lam_app/lib/widgets/minibar/minibar_cart_panel.dart
Due: flutter

Extract hardcoded Vietnamese strings to l10n
  docs/COMPREHENSIVE_GAP_ANALYSIS_2026_02_13.md
  hoang_lam_app/lib/l10n/app_localizations.dart
  hoang_lam_app/lib/screens/bookings/booking_form_screen.dart
  hoang_lam_app/lib/screens/declaration/declaration_export_screen.dart
  hoang_lam_app/lib/screens/finance/finance_screen.dart
  hoang_lam_app/lib/screens/finance/financial_category_screen.dart
  hoang_lam_app/lib/screens/group_booking/group_booking_form_screen.dart
  hoang_lam_app/lib/screens/lost_found/lost_found_detail_screen.dart
  hoang_lam_app/lib/screens/lost_found/lost_found_list_screen.dart
  hoang_lam_app/lib/screens/messaging/message_history_screen.dart
  hoang_lam_app/lib/screens/minibar/minibar_inventory_screen.dart
  hoang_lam_app/lib/screens/pricing/date_rate_override_form_screen.dart
  hoang_lam_app/lib/screens/pricing/pricing_management_screen.dart
  hoang_lam_app/lib/screens/pricing/rate_plan_form_screen.dart
  hoang_lam_app/lib/screens/room_inspection/room_inspection_form_screen.dart
  hoang_lam_app/lib/screens/room_inspection/room_inspection_list_screen.dart
  hoang_lam_app/lib/screens/rooms/room_detail_screen.dart
  hoang_lam_app/lib/screens/rooms/room_form_screen.dart
  hoang_lam_app/lib/screens/settings/settings_screen.dart
  hoang_lam_app/lib/widgets/bookings/booking_card.dart
  hoang_lam_app/lib/widgets/common/app_input.dart
  hoang_lam_app/lib/widgets/finance/record_deposit_dialog.dart
  hoang_lam_app/lib/widgets/folio/folio_item_list_widget.dart
  hoang_lam_app/lib/widgets/guests/guest_history_widget.dart
  hoang_lam_app/lib/widgets/housekeeping/assign_task_dialog.dart
  hoang_lam_app/lib/widgets/housekeeping/complete_task_dialog.dart
Due: flutter

Migrate hardcoded colors to AppColors
  docs/COMPREHENSIVE_GAP_ANALYSIS_2026_02_13.md
  hoang_lam_app/lib/core/theme/app_colors.dart
  hoang_lam_app/lib/screens/auth/splash_screen.dart
  hoang_lam_app/lib/screens/bookings/booking_calendar_screen.dart
  hoang_lam_app/lib/screens/bookings/booking_detail_screen.dart
  hoang_lam_app/lib/screens/bookings/bookings_screen.dart
  hoang_lam_app/lib/screens/declaration/declaration_export_screen.dart
  hoang_lam_app/lib/screens/finance/financial_category_screen.dart
  hoang_lam_app/lib/screens/finance/receipt_preview_screen.dart
  hoang_lam_app/lib/screens/folio/room_folio_screen.dart
  hoang_lam_app/lib/screens/group_booking/group_booking_detail_screen.dart
  hoang_lam_app/lib/screens/guests/guest_detail_screen.dart
  hoang_lam_app/lib/screens/home/home_screen.dart
  hoang_lam_app/lib/screens/housekeeping/maintenance_detail_screen.dart
  hoang_lam_app/lib/screens/housekeeping/task_detail_screen.dart
  hoang_lam_app/lib/screens/lost_found/lost_found_list_screen.dart
  hoang_lam_app/lib/screens/messaging/message_history_screen.dart
  hoang_lam_app/lib/screens/messaging/message_template_screen.dart
  hoang_lam_app/lib/screens/minibar/minibar_item_form_screen.dart
  hoang_lam_app/lib/screens/minibar/minibar_pos_screen.dart
  hoang_lam_app/lib/screens/night_audit/night_audit_screen.dart
  hoang_lam_app/lib/screens/notifications/notification_list_screen.dart
  hoang_lam_app/lib/screens/room_inspection/inspection_template_screen.dart
  hoang_lam_app/lib/screens/room_inspection/room_inspection_detail_screen.dart
  hoang_lam_app/lib/screens/room_inspection/room_inspection_form_screen.dart
  hoang_lam_app/lib/screens/room_inspection/room_inspection_list_screen.dart
  hoang_lam_app/lib/widgets/bookings/booking_card.dart
  hoang_lam_app/lib/widgets/bookings/booking_status_badge.dart
  hoang_lam_app/lib/widgets/bookings/early_late_fee_dialog.dart
  hoang_lam_app/lib/widgets/dashboard/dashboard_occupancy_widget.dart
  hoang_lam_app/lib/widgets/finance/deposit_status.dart
  hoang_lam_app/lib/widgets/folio/add_charge_dialog.dart
  hoang_lam_app/lib/widgets/folio/folio_item_list_widget.dart
  hoang_lam_app/lib/widgets/folio/folio_summary_widget.dart
  hoang_lam_app/lib/widgets/minibar/minibar_cart_panel.dart
  hoang_lam_app/lib/widgets/minibar/minibar_item_card.dart
  hoang_lam_app/lib/widgets/rooms/room_status_dialog.dart
Due: flutter

Add provider tests for auth, booking, guest, room
  docs/COMPREHENSIVE_GAP_ANALYSIS_2026_02_13.md
  hoang_lam_app/test/providers/auth_provider_test.dart
  hoang_lam_app/test/providers/booking_provider_test.dart
  hoang_lam_app/test/providers/guest_provider_test.dart
  hoang_lam_app/test/providers/room_provider_test.dart
Due: none

Add integration tests and update gap analysis
  docs/COMPREHENSIVE_GAP_ANALYSIS_2026_02_13.md
  hoang_lam_backend/hotel_api/tests/test_integration_flows.py
Due: none

Add Celery tasks, Docker services & deployment
  docker-compose.yml
  docs/COMPREHENSIVE_GAP_ANALYSIS_2026_02_13.md
  docs/DEPLOYMENT.md
  hoang_lam_backend/.env.example
  hoang_lam_backend/backend/__init__.py
  hoang_lam_backend/backend/celery.py
  hoang_lam_backend/backend/settings/base.py
  hoang_lam_backend/hotel_api/tasks.py
  hoang_lam_backend/hotel_api/tests/test_auth.py
  hoang_lam_backend/hotel_api/tests/test_bookings.py
  hoang_lam_backend/requirements.txt
Due: backend

Add guest encryption and audit logging
  .claude/settings.local.json
  docs/COMPREHENSIVE_GAP_ANALYSIS_2026_02_13.md
  hoang_lam_backend/.env.example
  hoang_lam_backend/backend/settings/base.py
  hoang_lam_backend/backend/settings/production.py
  hoang_lam_backend/hotel_api/admin.py
  hoang_lam_backend/hotel_api/audit.py
  hoang_lam_backend/hotel_api/encryption.py
  hoang_lam_backend/hotel_api/management/commands/encrypt_guest_data.py
  hoang_lam_backend/hotel_api/migrations/0018_guest_encryption_and_audit_log.py
  hoang_lam_backend/hotel_api/models.py
  hoang_lam_backend/hotel_api/serializers.py
  hoang_lam_backend/hotel_api/tests/test_audit.py
  hoang_lam_backend/hotel_api/tests/test_encryption.py
  hoang_lam_backend/hotel_api/tests/test_integration_flows.py
  hoang_lam_backend/hotel_api/views.py
Due: backend

Add data retention policy, task, command & tests
  docs/COMPREHENSIVE_GAP_ANALYSIS_2026_02_13.md
  hoang_lam_backend/backend/settings/base.py
  hoang_lam_backend/hotel_api/management/commands/apply_retention_policy.py
  hoang_lam_backend/hotel_api/retention.py
  hoang_lam_backend/hotel_api/tasks.py
  hoang_lam_backend/hotel_api/tests/test_retention.py
Due: backend

Add data retention & encryption docs
  README.md
  docs/DEPLOYMENT.md
Due: none

Integrate Sentry error tracking
  docs/COMPREHENSIVE_GAP_ANALYSIS_2026_02_13.md
  docs/DEPLOYMENT.md
  hoang_lam_backend/.env.example
  hoang_lam_backend/backend/settings/base.py
  hoang_lam_backend/requirements.txt
Due: backend

Add language switcher in login & update iOS pods
  hoang_lam_app/ios/Podfile.lock
  hoang_lam_app/lib/screens/auth/login_screen.dart
Due: flutter

Add DB connection pooling and pgbouncer
  .claude/settings.local.json
  docker-compose.yml
  docs/COMPREHENSIVE_GAP_ANALYSIS_2026_02_13.md
  docs/DEPLOYMENT.md
  hoang_lam_backend/.env.example
  hoang_lam_backend/backend/settings/base.py
Due: backend

Add nginx media/static serving and S3 support
  .claude/settings.local.json
  docker-compose.yml
  docs/COMPREHENSIVE_GAP_ANALYSIS_2026_02_13.md
  docs/DEPLOYMENT.md
  hoang_lam_backend/.env.example
  hoang_lam_backend/backend/settings/base.py
  hoang_lam_backend/requirements.txt
  nginx/default.conf
Due: backend

Add eSMS SMS gateway integration and docs
  docs/COMPREHENSIVE_GAP_ANALYSIS_2026_02_13.md
  docs/DEPLOYMENT.md
  hoang_lam_backend/.env.example
  hoang_lam_backend/backend/settings/base.py
  hoang_lam_backend/hotel_api/messaging_service.py
  hoang_lam_backend/requirements.txt
Due: backend

Add CI badges and enable coverage in pyproject
  README.md
  docs/COMPREHENSIVE_GAP_ANALYSIS_2026_02_13.md
  hoang_lam_backend/pyproject.toml
Due: backend

Add unit tests and order FinancialCategory
  hoang_lam_backend/hotel_api/tests/test_bookings.py
  hoang_lam_backend/hotel_api/tests/test_management_commands.py
  hoang_lam_backend/hotel_api/tests/test_rate_pricing.py
  hoang_lam_backend/hotel_api/tests/test_tasks.py
  hoang_lam_backend/hotel_api/views.py
Due: backend

Add HASH_PEPPER and harden encryption/audit flows
  docs/COMPREHENSIVE_GAP_ANALYSIS_2026_02_13.md
  hoang_lam_backend/backend/settings/base.py
  hoang_lam_backend/hotel_api/encryption.py
  hoang_lam_backend/hotel_api/models.py
  hoang_lam_backend/hotel_api/tests/test_retention.py
  hoang_lam_backend/hotel_api/views.py
Due: backend

Add offline sync, caching and offline-aware providers
  docs/COMPREHENSIVE_GAP_ANALYSIS_2026_02_13.md
  hoang_lam_app/lib/core/services/sync_manager.dart
  hoang_lam_app/lib/l10n/app_localizations.dart
  hoang_lam_app/lib/providers/booking_provider.dart
  hoang_lam_app/lib/providers/guest_provider.dart
  hoang_lam_app/lib/repositories/booking_repository.dart
  hoang_lam_app/lib/repositories/guest_repository.dart
  hoang_lam_app/test/providers/booking_provider_test.dart
Due: flutter

Enable explicit_to_json and update booking tests
  hoang_lam_app/build.yaml
  hoang_lam_app/test/providers/booking_provider_test.dart
Due: flutter

Use guest_name/guest_phone fallbacks in Booking
  hoang_lam_app/lib/models/booking.dart
Due: flutter

Add Fastlane release plan, defer Flutter release
  docs/COMPREHENSIVE_GAP_ANALYSIS_2026_02_13.md
  docs/HOANG_LAM_HERITAGE_MANAGEMENT_APP_DESIGN_PLAN.md
  docs/TASKS.md
Due: none

Update phase statuses and complete finance tasks
  docs/COMPREHENSIVE_GAP_ANALYSIS_2026_02_13.md
  docs/HOANG_LAM_HERITAGE_MANAGEMENT_APP_DESIGN_PLAN.md
Due: none

Update project plan: mark Phase 3 & 5 complete
  docs/HOANG_LAM_HERITAGE_MANAGEMENT_APP_DESIGN_PLAN.md
Due: none

Handle biometric errors and stabilize tests
  hoang_lam_app/lib/screens/auth/login_screen.dart
  hoang_lam_app/test/providers/auth_provider_test.dart
  hoang_lam_app/test/screens/auth/login_screen_test.dart
Due: flutter

Improve widget tests with i18n and stabilization
  hoang_lam_app/test/helpers/test_helpers.dart
  hoang_lam_app/test/widgets/bookings/booking_card_test.dart
  hoang_lam_app/test/widgets/bookings/booking_source_selector_test.dart
  hoang_lam_app/test/widgets/bookings/booking_status_badge_test.dart
  hoang_lam_app/test/widgets/dashboard/dashboard_occupancy_widget_test.dart
  hoang_lam_app/test/widgets/dashboard/dashboard_revenue_card_test.dart
  hoang_lam_app/test/widgets/finance/currency_selector_test.dart
  hoang_lam_app/test/widgets/finance/deposit_status_test.dart
  hoang_lam_app/test/widgets/finance/record_deposit_dialog_test.dart
  hoang_lam_app/test/widgets/folio/add_charge_dialog_test.dart
  hoang_lam_app/test/widgets/folio/folio_item_list_widget_test.dart
  hoang_lam_app/test/widgets/folio/folio_summary_widget_test.dart
  hoang_lam_app/test/widgets/guests/guest_card_test.dart
  hoang_lam_app/test/widgets/housekeeping/maintenance_card_test.dart
  hoang_lam_app/test/widgets/housekeeping/maintenance_filter_sheet_test.dart
  hoang_lam_app/test/widgets/housekeeping/task_card_test.dart
  hoang_lam_app/test/widgets/housekeeping/task_filter_sheet_test.dart
  hoang_lam_app/test/widgets/minibar/minibar_cart_panel_test.dart
  hoang_lam_app/test/widgets/minibar/minibar_item_card_test.dart
  hoang_lam_app/test/widgets/minibar/minibar_item_grid_test.dart
  hoang_lam_app/test/widgets/rooms/room_status_card_test.dart
Due: none

Add widget tests for declaration & night audit
  docs/TASKS.md
  hoang_lam_app/test/screens/declaration/declaration_export_screen_test.dart
  hoang_lam_app/test/screens/night_audit/night_audit_screen_test.dart
Due: none

Enable Flutter web support and platform guards
  docs/TASKS.md
  hoang_lam_app/.metadata
  hoang_lam_app/lib/core/services/biometric_service.dart
  hoang_lam_app/lib/core/storage/hive_storage.dart
  hoang_lam_app/lib/main.dart
  hoang_lam_app/test/models/room_test.dart
  hoang_lam_app/web/favicon.png
  hoang_lam_app/web/icons/Icon-192.png
  hoang_lam_app/web/icons/Icon-512.png
  hoang_lam_app/web/icons/Icon-maskable-192.png
  hoang_lam_app/web/icons/Icon-maskable-512.png
  hoang_lam_app/web/index.html
  hoang_lam_app/web/manifest.json
Due: flutter

Update README: add web support and status
  README.md
Due: none

Update web icons and rebrand web metadata
  hoang_lam_app/web/favicon.png
  hoang_lam_app/web/icons/Icon-192.png
  hoang_lam_app/web/icons/Icon-512.png
  hoang_lam_app/web/icons/Icon-maskable-192.png
  hoang_lam_app/web/icons/Icon-maskable-512.png
  hoang_lam_app/web/index.html
  hoang_lam_app/web/manifest.json
Due: flutter

TruffleHog: use PR and push-specific refs
  .github/workflows/security.yml
Due: none

Bump Flutter to 3.29.x; add web build job
  .github/workflows/flutter-ci.yml
Due: none

Run build_runner in CI workflow
  .github/workflows/flutter-ci.yml
Due: none

Run analyzer and apply code fixes
  hoang_lam_app/analysis_options.yaml
  hoang_lam_app/assets/icons/.gitkeep
  hoang_lam_app/lib/core/services/sync_manager.dart
  hoang_lam_app/lib/models/booking.dart
  hoang_lam_app/lib/models/room.dart
  hoang_lam_app/lib/providers/folio_provider.dart
  hoang_lam_app/lib/providers/guest_provider.dart
  hoang_lam_app/lib/providers/rate_plan_provider.dart
  hoang_lam_app/lib/repositories/auth_repository.dart
  hoang_lam_app/lib/router/app_router.dart
  hoang_lam_app/lib/screens/auth/login_screen.dart
  hoang_lam_app/lib/screens/bookings/booking_form_screen.dart
  hoang_lam_app/lib/screens/finance/finance_screen.dart
  hoang_lam_app/lib/screens/finance/financial_category_screen.dart
  hoang_lam_app/lib/screens/finance/receipt_preview_screen.dart
  hoang_lam_app/lib/screens/folio/room_folio_screen.dart
  hoang_lam_app/lib/screens/group_booking/group_booking_form_screen.dart
  hoang_lam_app/lib/screens/group_booking/group_booking_list_screen.dart
  hoang_lam_app/lib/screens/guests/guest_detail_screen.dart
  hoang_lam_app/lib/screens/guests/guest_form_screen.dart
  hoang_lam_app/lib/screens/lost_found/lost_found_form_screen.dart
  hoang_lam_app/lib/screens/night_audit/night_audit_screen.dart
  hoang_lam_app/lib/screens/notifications/notification_list_screen.dart
  hoang_lam_app/lib/screens/pricing/date_rate_override_form_screen.dart
  hoang_lam_app/lib/widgets/guests/guest_history_widget.dart
  hoang_lam_app/lib/widgets/housekeeping/complete_task_dialog.dart
  hoang_lam_app/test/providers/booking_provider_test.dart
  hoang_lam_app/test/repositories/report_repository_test.dart
  hoang_lam_app/test/repositories/room_repository_test.dart
  hoang_lam_app/test/screens/auth/login_screen_test.dart
  hoang_lam_app/test/screens/declaration/declaration_export_screen_test.dart
Due: flutter

Improve security workflow: tool fixes, CodeQL v4
  .github/workflows/security.yml
Due: none
