Repository Lambert-Nguyen/hoang-lam-heritage-management: changes, and which Codecov flags are due for each by the changed paths.
All: backend, flutter

Phase 1.1 Implement authentication endpoints and role-based permissions
  docs/TASKS.md
  hoang_lam_backend/backend/settings/base.py
  hoang_lam_backend/hotel_api/management/__init__.py
  hoang_lam_backend/hotel_api/management/commands/__init__.py
  hoang_lam_backend/hotel_api/management/commands/create_admin_users.py
  hoang_lam_backend/hotel_api/permissions.py
  hoang_lam_backend/hotel_api/serializers.py
  hoang_lam_backend/hotel_api/tests/__init__.py
  hoang_lam_backend/hotel_api/tests/test_auth.py
  hoang_lam_backend/hotel_api/urls.py
  hoang_lam_backend/hotel_api/views.py
Due: backend

Phase 1.2 Add biometric auth and comprehensive model/widget tests
  .claude/settings.local.json
  hoang_lam_app/ios/Runner/Info.plist
  hoang_lam_app/pubspec.lock
  hoang_lam_app/pubspec.yaml
  hoang_lam_app/test/models/auth_test.dart
  hoang_lam_app/test/models/user_test.dart
  hoang_lam_app/test/screens/auth/login_screen_test.dart
  hoang_lam_app/test/screens/auth/password_change_screen_test.dart
  hoang_lam_app/test/widget_test.dart
Due: flutter

Add unit tests for AuthRepository
  hoang_lam_app/coverage/lcov.info
  hoang_lam_app/test/repositories/auth_repository_test.dart
  hoang_lam_app/test/repositories/auth_repository_test.mocks.dart
Due: flutter

Document completion of Phase 1.2 Authentication Frontend
  docs/PHASE_1.2_REVIEW_FIXES.md
  docs/TASKS.md
Due: none

Implement room management backend (Phase 1.3)
  docs/PHASE_1.3_ROOM_MANAGEMENT_BACKEND.md
  docs/TASKS.md
  hoang_lam_backend/hotel_api/management/commands/seed_room_types.py
  hoang_lam_backend/hotel_api/management/commands/seed_rooms.py
  hoang_lam_backend/hotel_api/serializers.py
  hoang_lam_backend/hotel_api/tests/test_rooms.py
  hoang_lam_backend/hotel_api/urls.py
  hoang_lam_backend/hotel_api/views.py
Due: backend

Add Twin room type, GPLX ID, and total_available field
  .claude/settings.local.json
  docs/TASKS.md
  hoang_lam_backend/hotel_api/management/commands/seed_room_types.py
  hoang_lam_backend/hotel_api/models.py
  hoang_lam_backend/hotel_api/views.py
Due: backend

Add room model and widget tests for frontend
  docs/TASKS.md
  hoang_lam_app/test/models/room_test.dart
  hoang_lam_app/test/widgets/rooms/room_status_card_test.dart
Due: none

Add Phase 1.4 docs, review updates, and repository tests
  docs/PHASE_1.3_1.4_ISSUE_RESOLUTION.md
  docs/PHASE_1.3_1.4_REVIEW.md
  docs/PHASE_1.4_ROOM_MANAGEMENT_FRONTEND.md
  docs/TASKS.md
  hoang_lam_app/test/repositories/room_repository_test.dart
  hoang_lam_app/test/repositories/room_repository_test.mocks.dart
Due: none

Add guest and booking management features
  hoang_lam_backend/hotel_api/management/commands/seed_bookings.py
  hoang_lam_backend/hotel_api/management/commands/seed_guests.py
  hoang_lam_backend/hotel_api/management/commands/seed_nationalities.py
  hoang_lam_backend/hotel_api/serializers.py
  hoang_lam_backend/hotel_api/tests/test_bookings.py
  hoang_lam_backend/hotel_api/tests/test_guests.py
  hoang_lam_backend/hotel_api/urls.py
  hoang_lam_backend/hotel_api/views.py
Due: backend

Apply critical backend fixes for production readiness
  docs/CRITICAL_FIXES_SUMMARY.md
  hoang_lam_backend/hotel_api/migrations/0003_fix_critical_issues.py
  hoang_lam_backend/hotel_api/models.py
  hoang_lam_backend/hotel_api/serializers.py
  hoang_lam_backend/hotel_api/views.py
Due: backend

Apply final review fixes: billing, admin, phone validation
  docs/FINAL_REVIEW_ROUND_2.md
  docs/REVIEW_COMPLETION_SUMMARY.md
  hoang_lam_backend/hotel_api/admin.py
  hoang_lam_backend/hotel_api/models.py
  hoang_lam_backend/hotel_api/serializers.py
Due: backend

Add financial management and dashboard endpoints with tests
  .claude/settings.local.json
  docs/TASKS.md
  hoang_lam_backend/hotel_api/serializers.py
  hoang_lam_backend/hotel_api/tests/test_dashboard.py
  hoang_lam_backend/hotel_api/tests/test_finance.py
  hoang_lam_backend/hotel_api/urls.py
  hoang_lam_backend/hotel_api/views.py
Due: backend

Rename Housekeeping model to HousekeepingTask
  docs/ALIGNMENT_REVIEW.md
  docs/NAMING_AND_ENDPOINTS_REVIEW.md
  hoang_lam_backend/hotel_api/admin.py
  hoang_lam_backend/hotel_api/migrations/0004_rename_housekeeping_to_task.py
  hoang_lam_backend/hotel_api/models.py
Due: backend

Add unit tests for Guest model and GuestCard widget
  .claude/settings.local.json
  hoang_lam_app/test/models/guest_test.dart
  hoang_lam_app/test/widgets/guests/guest_card_test.dart
Due: none

Update tasks for Phase 1.6 Guest Management Frontend
  docs/TASKS.md
Due: none

Update TASKS.md for progress on Booking Management Frontend
  docs/TASKS.md
Due: none

Update booking frontend progress in TASKS.md
  docs/TASKS.md
Due: none

Add Phase 1 Frontend comprehensive review document
  docs/PHASE_1_FRONTEND_REVIEW.md
Due: none

Add dashboard widget tests and settings dialogs
  docs/PHASE_1_FRONTEND_COMPLETION_SUMMARY.md
  hoang_lam_app/lib/screens/settings/settings_screen.dart
  hoang_lam_app/test/widgets/dashboard/dashboard_occupancy_widget_test.dart
  hoang_lam_app/test/widgets/dashboard/dashboard_revenue_card_test.dart
Due: flutter

Integrate booking screen with Riverpod and add tests
  docs/PHASE_1_FRONTEND_FINAL_REPORT.md
  hoang_lam_app/lib/screens/bookings/bookings_screen.dart
  hoang_lam_app/lib/screens/bookings/bookings_screen.dart.backup
  hoang_lam_app/lib/widgets/bookings/booking_source_selector.dart
  hoang_lam_app/test/widgets/bookings/booking_card_test.dart
  hoang_lam_app/test/widgets/bookings/booking_source_selector_test.dart
  hoang_lam_app/test/widgets/bookings/booking_status_badge_test.dart
Due: flutter

Update task progress and test coverage in TASKS.md
  .claude/settings.local.json
  docs/TASKS.md
  hoang_lam_app/coverage/lcov.info
  hoang_lam_app/test/widgets/dashboard/dashboard_occupancy_widget_test.dart
  hoang_lam_app/test/widgets/dashboard/dashboard_revenue_card_test.dart
Due: flutter

Finalize Phase 1: docs, dashboard model, and test fixes
  docs/PHASE_1_COMPLETION_SUMMARY.md
  docs/PHASE_1_FINAL_REVIEW.md
  docs/TASKS.md
  hoang_lam_app/lib/models/dashboard.dart
  hoang_lam_app/test/widgets/dashboard/dashboard_occupancy_widget_test.dart
Due: flutter

Add Phase 1 frontend review and update task status
  docs/TASKS.md
Due: none

Apply critical fixes and update docs
  docs/ALL_CRITICAL_FIXES_COMPLETE.md
  docs/CRITICAL_FIXES_APPLIED.md
  docs/PHASE_1_CRITICAL_FIXES_PLAN.md
  docs/PHASE_1_REALITY_CHECK.md
  docs/TASKS.md
  docs/TEST_FIXES_COMPLETE.md
  hoang_lam_app/lib/core/network/api_interceptors.dart
  hoang_lam_app/lib/models/auth.dart
  hoang_lam_app/lib/models/booking.dart
  hoang_lam_app/lib/providers/auth_provider.dart
  hoang_lam_app/lib/repositories/auth_repository.dart
  hoang_lam_app/lib/repositories/booking_repository.dart
  hoang_lam_app/lib/repositories/guest_repository.dart
  hoang_lam_app/lib/repositories/room_repository.dart
  hoang_lam_app/lib/screens/guests/guest_form_screen.dart
  hoang_lam_app/lib/widgets/guests/guest_history_widget.dart
  hoang_lam_app/lib/widgets/guests/guest_search_bar.dart
  hoang_lam_app/test/widgets/bookings/booking_card_test.dart
Due: flutter

Apply Phase 1 rigorous fixes and docs
  docs/PHASE_1_RIGOROUS_REVIEW.md
  docs/TASKS.md
  hoang_lam_app/lib/core/utils/currency_formatter.dart
  hoang_lam_app/lib/models/models.dart
  hoang_lam_app/lib/providers/auth_provider.dart
  hoang_lam_app/lib/providers/providers.dart
  hoang_lam_app/lib/repositories/repositories.dart
  hoang_lam_app/lib/router/app_router.dart
  hoang_lam_app/lib/screens/bookings/booking_detail_screen.dart
Due: flutter

Remove legacy review and fix docs
  docs/ALIGNMENT_REVIEW.md
  docs/ALL_CRITICAL_FIXES_COMPLETE.md
  docs/CRITICAL_FIXES_APPLIED.md
  docs/CRITICAL_FIXES_SUMMARY.md
  docs/DEVOPS_SETUP.md
  docs/FINAL_REVIEW_ROUND_2.md
  docs/NAMING_AND_ENDPOINTS_REVIEW.md
  docs/PHASE_0.3_REVIEW_SUMMARY.md
  docs/PHASE_1.2_REVIEW_FIXES.md
  docs/PHASE_1.3_1.4_ISSUE_RESOLUTION.md
  docs/PHASE_1.3_1.4_REVIEW.md
  docs/PHASE_1.3_ROOM_MANAGEMENT_BACKEND.md
  docs/PHASE_1.4_ROOM_MANAGEMENT_FRONTEND.md
  docs/PHASE_1_COMPLETION_SUMMARY.md
  docs/PHASE_1_CRITICAL_FIXES_PLAN.md
  docs/PHASE_1_FINAL_REVIEW.md
  docs/PHASE_1_FRONTEND_COMPLETION_SUMMARY.md
  docs/PHASE_1_FRONTEND_FINAL_REPORT.md
  docs/PHASE_1_FRONTEND_REVIEW.md
  docs/PHASE_1_REALITY_CHECK.md
  docs/PHASE_1_RIGOROUS_REVIEW.md
  docs/REVIEW_COMPLETION_SUMMARY.md
  docs/TEST_FIXES_COMPLETE.md
Due: none

Mark Phase 1 MVP complete in docs
  docs/HOANG_LAM_HERITAGE_MANAGEMENT_APP_DESIGN_PLAN.md
  docs/TASKS.md
Due: none

Implement finance, night-audit, declaration features
  docs/TASKS.md
  hoang_lam_app/lib/models/declaration.dart
  hoang_lam_app/lib/models/finance.dart
  hoang_lam_app/lib/models/models.dart
  hoang_lam_app/lib/models/night_audit.dart
  hoang_lam_app/lib/providers/declaration_provider.dart
  hoang_lam_app/lib/providers/finance_provider.dart
  hoang_lam_app/lib/providers/night_audit_provider.dart
  hoang_lam_app/lib/providers/providers.dart
  hoang_lam_app/lib/providers/settings_provider.dart
  hoang_lam_app/lib/repositories/declaration_repository.dart
  hoang_lam_app/lib/repositories/finance_repository.dart
  hoang_lam_app/lib/repositories/night_audit_repository.dart
  hoang_lam_app/lib/repositories/repositories.dart
  hoang_lam_app/lib/router/app_router.dart
  hoang_lam_app/lib/screens/declaration/declaration_export_screen.dart
  hoang_lam_app/lib/screens/finance/finance_form_screen.dart
  hoang_lam_app/lib/screens/finance/finance_screen.dart
  hoang_lam_app/lib/screens/night_audit/night_audit_screen.dart
  hoang_lam_app/lib/screens/settings/settings_screen.dart
  hoang_lam_app/pubspec.lock
  hoang_lam_app/pubspec.yaml
  hoang_lam_backend/hotel_api/migrations/0005_night_audit.py
  hoang_lam_backend/hotel_api/models.py
  hoang_lam_backend/hotel_api/serializers.py
  hoang_lam_backend/hotel_api/urls.py
  hoang_lam_backend/hotel_api/views.py
  hoang_lam_backend/requirements.txt
Due: backend, flutter

Refactor models and finance UI; add widgets
  hoang_lam_app/lib/core/theme/app_colors.dart
  hoang_lam_app/lib/models/declaration.dart
  hoang_lam_app/lib/models/finance.dart
  hoang_lam_app/lib/models/models.dart
  hoang_lam_app/lib/models/night_audit.dart
  hoang_lam_app/lib/providers/finance_provider.dart
  hoang_lam_app/lib/providers/night_audit_provider.dart
  hoang_lam_app/lib/providers/settings_provider.dart
  hoang_lam_app/lib/screens/finance/finance_form_screen.dart
  hoang_lam_app/lib/screens/finance/finance_screen.dart
  hoang_lam_app/lib/widgets/common/error_display.dart
  hoang_lam_app/lib/widgets/common/loading_indicator.dart
Due: flutter

Add seed command, tests; update TASKS doc
  docs/TASKS.md
  hoang_lam_backend/hotel_api/management/commands/seed_financial_categories.py
  hoang_lam_backend/hotel_api/tests/test_declaration.py
  hoang_lam_backend/hotel_api/tests/test_night_audit.py
Due: backend

Add payments, folio, exchange & receipt features
  docs/TASKS.md
  hoang_lam_app/lib/core/config/app_constants.dart
  hoang_lam_app/lib/models/finance.dart
  hoang_lam_app/lib/repositories/finance_repository.dart
  hoang_lam_app/lib/router/app_router.dart
  hoang_lam_app/lib/screens/finance/receipt_preview_screen.dart
  hoang_lam_app/lib/widgets/finance/currency_selector.dart
  hoang_lam_app/lib/widgets/finance/deposit_status.dart
  hoang_lam_app/lib/widgets/finance/finance_widgets.dart
  hoang_lam_app/lib/widgets/finance/record_deposit_dialog.dart
  hoang_lam_app/lib/widgets/widgets.dart
  hoang_lam_backend/hotel_api/migrations/0006_add_payment_folio_models.py
  hoang_lam_backend/hotel_api/models.py
  hoang_lam_backend/hotel_api/permissions.py
  hoang_lam_backend/hotel_api/serializers.py
  hoang_lam_backend/hotel_api/tests/test_finance.py
  hoang_lam_backend/hotel_api/tests/test_payment.py
  hoang_lam_backend/hotel_api/urls.py
  hoang_lam_backend/hotel_api/views.py
Due: backend, flutter

Add MaintenanceRequest, housekeeping APIs and tests
  docs/TASKS.md
  hoang_lam_app/test/widgets/finance/currency_selector_test.dart
  hoang_lam_app/test/widgets/finance/deposit_status_test.dart
  hoang_lam_app/test/widgets/finance/record_deposit_dialog_test.dart
  hoang_lam_backend/hotel_api/migrations/0007_add_maintenance_request.py
  hoang_lam_backend/hotel_api/models.py
  hoang_lam_backend/hotel_api/serializers.py
  hoang_lam_backend/hotel_api/tests/test_housekeeping.py
  hoang_lam_backend/hotel_api/tests/test_maintenance.py
  hoang_lam_backend/hotel_api/urls.py
  hoang_lam_backend/hotel_api/views.py
Due: backend

Add housekeeping: models, repo, providers, UI
  docs/TASKS.md
  hoang_lam_app/lib/core/config/app_constants.dart
  hoang_lam_app/lib/models/housekeeping.dart
  hoang_lam_app/lib/models/models.dart
  hoang_lam_app/lib/providers/housekeeping_provider.dart
  hoang_lam_app/lib/providers/providers.dart
  hoang_lam_app/lib/repositories/housekeeping_repository.dart
  hoang_lam_app/lib/repositories/repositories.dart
  hoang_lam_app/lib/screens/housekeeping/housekeeping_screens.dart
  hoang_lam_app/lib/screens/housekeeping/maintenance_detail_screen.dart
  hoang_lam_app/lib/screens/housekeeping/maintenance_form_screen.dart
  hoang_lam_app/lib/screens/housekeeping/maintenance_list_screen.dart
  hoang_lam_app/lib/screens/housekeeping/task_detail_screen.dart
  hoang_lam_app/lib/screens/housekeeping/task_form_screen.dart
  hoang_lam_app/lib/screens/housekeeping/task_list_screen.dart
  hoang_lam_app/lib/widgets/housekeeping/assign_task_dialog.dart
  hoang_lam_app/lib/widgets/housekeeping/complete_task_dialog.dart
  hoang_lam_app/lib/widgets/housekeeping/housekeeping_widgets.dart
  hoang_lam_app/lib/widgets/housekeeping/maintenance_card.dart
  hoang_lam_app/lib/widgets/housekeeping/maintenance_filter_sheet.dart
  hoang_lam_app/lib/widgets/housekeeping/task_card.dart
  hoang_lam_app/lib/widgets/housekeeping/task_filter_sheet.dart
  hoang_lam_app/test/widgets/housekeeping/maintenance_card_test.dart
  hoang_lam_app/test/widgets/housekeeping/maintenance_filter_sheet_test.dart
  hoang_lam_app/test/widgets/housekeeping/task_card_test.dart
  hoang_lam_app/test/widgets/housekeeping/task_filter_sheet_test.dart
Due: flutter

Add minibar & folio features (models, providers, repo)
  docs/TASKS.md
  hoang_lam_app/lib/core/config/app_constants.dart
  hoang_lam_app/lib/models/minibar.dart
  hoang_lam_app/lib/models/models.dart
  hoang_lam_app/lib/providers/folio_provider.dart
  hoang_lam_app/lib/providers/minibar_provider.dart
  hoang_lam_app/lib/providers/providers.dart
  hoang_lam_app/lib/repositories/minibar_repository.dart
  hoang_lam_app/lib/repositories/repositories.dart
  hoang_lam_app/lib/router/app_router.dart
  hoang_lam_app/lib/screens/folio/folio_screens.dart
  hoang_lam_app/lib/screens/folio/room_folio_screen.dart
  hoang_lam_app/lib/screens/minibar/minibar_inventory_screen.dart
  hoang_lam_app/lib/screens/minibar/minibar_item_form_screen.dart
  hoang_lam_app/lib/screens/minibar/minibar_pos_screen.dart
  hoang_lam_app/lib/screens/minibar/minibar_screens.dart
  hoang_lam_app/lib/widgets/folio/add_charge_dialog.dart
  hoang_lam_app/lib/widgets/folio/folio_item_list_widget.dart
  hoang_lam_app/lib/widgets/folio/folio_summary_widget.dart
  hoang_lam_app/lib/widgets/folio/folio_widgets.dart
  hoang_lam_app/lib/widgets/minibar/minibar_cart_panel.dart
  hoang_lam_app/lib/widgets/minibar/minibar_item_card.dart
  hoang_lam_app/lib/widgets/minibar/minibar_item_grid.dart
  hoang_lam_app/lib/widgets/minibar/minibar_item_list_tile.dart
  hoang_lam_app/lib/widgets/minibar/minibar_widgets.dart
  hoang_lam_app/lib/widgets/widgets.dart
  hoang_lam_backend/hotel_api/serializers.py
  hoang_lam_backend/hotel_api/tests/test_minibar.py
  hoang_lam_backend/hotel_api/urls.py
  hoang_lam_backend/hotel_api/views.py
Due: backend, flutter

Add minibar & folio widget tests; fix dates
  docs/TASKS.md
  hoang_lam_app/test/widgets/folio/add_charge_dialog_test.dart
  hoang_lam_app/test/widgets/folio/folio_item_list_widget_test.dart
  hoang_lam_app/test/widgets/folio/folio_summary_widget_test.dart
  hoang_lam_app/test/widgets/minibar/minibar_cart_panel_test.dart
  hoang_lam_app/test/widgets/minibar/minibar_item_card_test.dart
  hoang_lam_app/test/widgets/minibar/minibar_item_grid_test.dart
  hoang_lam_backend/hotel_api/tests/test_housekeeping.py
Due: none

Add Reports & Analytics feature
  docs/TASKS.md
  hoang_lam_app/lib/core/network/api_client.dart
  hoang_lam_app/lib/models/models.dart
  hoang_lam_app/lib/models/report.dart
  hoang_lam_app/lib/providers/providers.dart
  hoang_lam_app/lib/providers/report_provider.dart
  hoang_lam_app/lib/repositories/report_repository.dart
  hoang_lam_app/lib/repositories/repositories.dart
  hoang_lam_app/lib/router/app_router.dart
  hoang_lam_app/lib/screens/finance/finance_screen.dart
  hoang_lam_app/lib/screens/reports/report_screen.dart
  hoang_lam_app/test/repositories/auth_repository_test.mocks.dart
  hoang_lam_app/test/repositories/report_repository_test.dart
  hoang_lam_app/test/repositories/room_repository_test.mocks.dart
  hoang_lam_backend/hotel_api/serializers.py
  hoang_lam_backend/hotel_api/tests/test_reports.py
  hoang_lam_backend/hotel_api/urls.py
  hoang_lam_backend/hotel_api/views.py
  hoang_lam_backend/requirements.txt
Due: backend, flutter

Add group bookings and lost & found features
  hoang_lam_app/lib/core/config/app_constants.dart
  hoang_lam_app/lib/models/booking.dart
  hoang_lam_app/lib/models/group_booking.dart
  hoang_lam_app/lib/models/lost_found.dart
  hoang_lam_app/lib/models/models.dart
  hoang_lam_app/lib/models/room.dart
  hoang_lam_app/lib/providers/group_booking_provider.dart
  hoang_lam_app/lib/providers/housekeeping_provider.dart
  hoang_lam_app/lib/providers/lost_found_provider.dart
  hoang_lam_app/lib/repositories/group_booking_repository.dart
  hoang_lam_app/lib/repositories/lost_found_repository.dart
  hoang_lam_app/lib/router/app_router.dart
  hoang_lam_app/lib/screens/housekeeping/maintenance_detail_screen.dart
  hoang_lam_app/lib/screens/housekeeping/maintenance_form_screen.dart
  hoang_lam_app/lib/widgets/housekeeping/assign_task_dialog.dart
  hoang_lam_app/lib/widgets/housekeeping/complete_task_dialog.dart
  hoang_lam_backend/hotel_api/migrations/0008_add_phase3_features.py
  hoang_lam_backend/hotel_api/models.py
  hoang_lam_backend/hotel_api/serializers.py
  hoang_lam_backend/hotel_api/urls.py
  hoang_lam_backend/hotel_api/views.py
Due: backend, flutter

Add room inspections feature and routing
  hoang_lam_app/lib/core/config/app_constants.dart
  hoang_lam_app/lib/models/room_inspection.dart
  hoang_lam_app/lib/providers/room_inspection_provider.dart
  hoang_lam_app/lib/repositories/room_inspection_repository.dart
  hoang_lam_app/lib/router/app_router.dart
  hoang_lam_app/lib/screens/group_booking/group_booking_detail_screen.dart
  hoang_lam_app/lib/screens/group_booking/group_booking_form_screen.dart
  hoang_lam_app/lib/screens/group_booking/group_booking_list_screen.dart
  hoang_lam_app/lib/screens/lost_found/lost_found_detail_screen.dart
  hoang_lam_app/lib/screens/lost_found/lost_found_form_screen.dart
  hoang_lam_app/lib/screens/lost_found/lost_found_list_screen.dart
  hoang_lam_app/lib/screens/room_inspection/inspection_template_screen.dart
  hoang_lam_app/lib/screens/room_inspection/room_inspection_detail_screen.dart
  hoang_lam_app/lib/screens/room_inspection/room_inspection_form_screen.dart
  hoang_lam_app/lib/screens/room_inspection/room_inspection_list_screen.dart
  hoang_lam_app/test/models/room_inspection_test.dart
  hoang_lam_app/test/repositories/room_inspection_repository_test.dart
  hoang_lam_backend/hotel_api/migrations/0009_add_room_inspection.py
  hoang_lam_backend/hotel_api/models.py
  hoang_lam_backend/hotel_api/serializers.py
  hoang_lam_backend/hotel_api/urls.py
  hoang_lam_backend/hotel_api/views.py
Due: backend, flutter

Add common widgets; refactor housekeeping screens
  hoang_lam_app/lib/screens/housekeeping/maintenance_list_screen.dart
  hoang_lam_app/lib/screens/housekeeping/task_detail_screen.dart
  hoang_lam_app/lib/screens/housekeeping/task_form_screen.dart
  hoang_lam_app/lib/screens/housekeeping/task_list_screen.dart
  hoang_lam_app/lib/widgets/common/app_dropdown.dart
  hoang_lam_app/lib/widgets/common/app_text_field.dart
  hoang_lam_app/lib/widgets/common/empty_state.dart
  hoang_lam_app/lib/widgets/housekeeping/complete_task_dialog.dart
Due: flutter

Path conditions:
  backend: any of: hoang_lam_backend/, but not: hoang_lam_backend/*/migrations/**, hoang_lam_backend/*/tests/**, hoang_lam_backend/manage.py, hoang_lam_backend/backend/asgi.py, hoang_lam_backend/backend/wsgi.py, hoang_lam_app/test/**, hoang_lam_app/**/*_test.dart, hoang_lam_app/**/*.g.dart, hoang_lam_app/**/*.freezed.dart
  flutter: any of: hoang_lam_app/, but not: hoang_lam_backend/*/migrations/**, hoang_lam_backend/*/tests/**, hoang_lam_backend/manage.py, hoang_lam_backend/backend/asgi.py, hoang_lam_backend/backend/wsgi.py, hoang_lam_app/test/**, hoang_lam_app/**/*_test.dart, hoang_lam_app/**/*.g.dart, hoang_lam_app/**/*.freezed.dart
