Repository Lambert-Nguyen/hoang-lam-heritage-management: changes, and which Codecov flags are due for each by the changed paths.
All: backend, flutter

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

# Coverage thresholds
coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    # Overall project coverage
    project:
      default:
        target: 70%
        threshold: 2%
        if_not_found: success
        if_ci_failed: error
    
    # Pull request coverage
    patch:
      default:
        target: 70%
        threshold: 5%
        if_not_found: success
        if_ci_failed: error

# Files to ignore in coverage reports
ignore:
  - "hoang_lam_backend/*/migrations/**"
  - "hoang_lam_backend/*/tests/**"
  - "hoang_lam_backend/manage.py"
  - "hoang_lam_backend/backend/asgi.py"
  - "hoang_lam_backend/backend/wsgi.py"
  - "hoang_lam_app/test/**"
  - "hoang_lam_app/**/*_test.dart"
  - "hoang_lam_app/**/*.g.dart"
  - "hoang_lam_app/**/*.freezed.dart"

# Comment configuration for pull requests
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Flags for different components
flags:
  backend:
    paths:
      - hoang_lam_backend/
    carryforward: true
  
  flutter:
    paths:
      - hoang_lam_app/
    carryforward: true

Prevent state updates after unmount; misc cleanup
  hoang_lam_app/lib/models/booking.dart
  hoang_lam_app/lib/providers/booking_provider.dart
  hoang_lam_app/lib/providers/night_audit_provider.dart
  hoang_lam_app/lib/repositories/booking_repository.dart
  hoang_lam_app/lib/router/app_router.dart
  hoang_lam_app/lib/screens/bookings/booking_calendar_screen.dart
  hoang_lam_app/lib/screens/home/home_screen.dart
  hoang_lam_app/lib/screens/night_audit/night_audit_screen.dart
  hoang_lam_app/lib/screens/pricing/pricing_management_screen.dart
  hoang_lam_app/lib/screens/rooms/room_management_screen.dart
  hoang_lam_app/lib/widgets/bookings/booking_card.dart
  hoang_lam_app/lib/widgets/main_scaffold.dart
  hoang_lam_app/test/providers/auth_provider_test.dart
Due: flutter

Format and tidy serializers and booking view
  hoang_lam_backend/hotel_api/serializers.py
  hoang_lam_backend/hotel_api/views.py
Due: backend

Reorder serializer imports in views.py
  hoang_lam_backend/hotel_api/views.py
Due: backend

Add Round 7 deep full-stack audit summary
  docs/UX_DESIGN_REVIEW.md
Due: none

Handle unknown enum values and localize errors
  hoang_lam_app/lib/l10n/app_localizations.dart
  hoang_lam_app/lib/models/booking.dart
  hoang_lam_app/lib/models/finance.dart
  hoang_lam_app/lib/models/housekeeping.dart
  hoang_lam_app/lib/models/lost_found.dart
  hoang_lam_app/lib/models/notification.dart
  hoang_lam_app/lib/models/room.dart
  hoang_lam_app/lib/models/user.dart
  hoang_lam_app/lib/providers/auth_provider.dart
  hoang_lam_app/lib/providers/declaration_provider.dart
  hoang_lam_app/lib/providers/finance_provider.dart
  hoang_lam_app/lib/providers/folio_provider.dart
  hoang_lam_app/lib/providers/group_booking_provider.dart
  hoang_lam_app/lib/providers/housekeeping_provider.dart
  hoang_lam_app/lib/providers/lost_found_provider.dart
  hoang_lam_app/lib/providers/minibar_provider.dart
  hoang_lam_app/lib/providers/night_audit_provider.dart
  hoang_lam_app/lib/providers/providers.dart
  hoang_lam_app/lib/providers/rate_plan_provider.dart
  hoang_lam_app/lib/providers/room_inspection_provider.dart
  hoang_lam_app/lib/router/app_router.dart
  hoang_lam_app/lib/screens/finance/receipt_preview_screen.dart
  hoang_lam_app/lib/screens/lost_found/lost_found_form_screen.dart
  hoang_lam_app/lib/screens/reports/report_screen.dart
  hoang_lam_app/lib/widgets/main_scaffold.dart
  hoang_lam_backend/backend/settings/base.py
  hoang_lam_backend/backend/settings/production.py
  hoang_lam_backend/backend/settings/staging.py
  hoang_lam_backend/hotel_api/serializers.py
  hoang_lam_backend/hotel_api/tasks.py
  hoang_lam_backend/hotel_api/tests/test_booking_actions.py
  hoang_lam_backend/hotel_api/urls.py
  hoang_lam_backend/hotel_api/views.py
Due: backend, flutter

Handle unknown enums & tighten API permissions
  hoang_lam_app/lib/models/finance.dart
  hoang_lam_app/lib/router/app_router.dart
  hoang_lam_app/lib/screens/bookings/booking_detail_screen.dart
  hoang_lam_app/lib/screens/bookings/booking_form_screen.dart
  hoang_lam_app/lib/screens/housekeeping/task_list_screen.dart
  hoang_lam_app/lib/screens/notifications/notification_list_screen.dart
  hoang_lam_app/lib/screens/settings/staff_management_screen.dart
  hoang_lam_app/lib/widgets/bookings/booking_card.dart
  hoang_lam_app/lib/widgets/bookings/booking_status_badge.dart
  hoang_lam_app/lib/widgets/finance/record_deposit_dialog.dart
  hoang_lam_app/lib/widgets/housekeeping/complete_task_dialog.dart
  hoang_lam_app/lib/widgets/main_scaffold.dart
  hoang_lam_app/test/screens/declaration/declaration_export_screen_test.dart
  hoang_lam_backend/hotel_api/views.py
Due: backend, flutter

Add role-based design review (2026-03-09)
  docs/UX_DESIGN_REVIEW.md
Due: none

Add role-based guards for operations and reports
  docs/UX_DESIGN_REVIEW.md
  hoang_lam_app/lib/models/user.dart
  hoang_lam_app/lib/router/app_router.dart
  hoang_lam_app/lib/screens/more/more_menu_screen.dart
  hoang_lam_backend/hotel_api/tests/test_reports.py
  hoang_lam_backend/hotel_api/views.py
Due: backend, flutter

Add role-based route guards and tests
  docs/UX_DESIGN_REVIEW.md
  hoang_lam_app/lib/router/app_router.dart
  hoang_lam_backend/hotel_api/tests/test_role_authorization.py
  hoang_lam_backend/hotel_api/views.py
Due: backend, flutter

Add RBAC policy, PR checklist, and tests
  .github/pull_request_template.md
  docs/ROLE_POLICY_MATRIX.md
  docs/UX_DESIGN_REVIEW.md
  hoang_lam_backend/hotel_api/tests/test_role_authorization.py
Due: none

iOS: Support implicit Flutter engine and scenes
  hoang_lam_app/ios/Flutter/AppFrameworkInfo.plist
  hoang_lam_app/ios/Podfile.lock
  hoang_lam_app/ios/Runner.xcodeproj/project.pbxproj
  hoang_lam_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  hoang_lam_app/ios/Runner/AppDelegate.swift
  hoang_lam_app/ios/Runner/Info.plist
  hoang_lam_app/lib/l10n/app_localizations.dart
  hoang_lam_app/lib/models/booking.dart
  hoang_lam_app/lib/models/finance.dart
  hoang_lam_app/lib/models/housekeeping.dart
  hoang_lam_app/lib/models/lost_found.dart
  hoang_lam_app/lib/models/notification.dart
  hoang_lam_app/lib/models/room.dart
  hoang_lam_app/lib/providers/declaration_provider.dart
  hoang_lam_app/lib/providers/finance_provider.dart
  hoang_lam_app/lib/providers/folio_provider.dart
  hoang_lam_app/lib/providers/group_booking_provider.dart
  hoang_lam_app/lib/providers/housekeeping_provider.dart
  hoang_lam_app/lib/providers/lost_found_provider.dart
  hoang_lam_app/lib/providers/minibar_provider.dart
  hoang_lam_app/lib/providers/night_audit_provider.dart
  hoang_lam_app/lib/providers/rate_plan_provider.dart
  hoang_lam_app/lib/providers/room_inspection_provider.dart
  hoang_lam_app/lib/router/app_router.dart
  hoang_lam_app/lib/screens/finance/finance_screen.dart
  hoang_lam_app/lib/screens/folio/room_folio_screen.dart
  hoang_lam_app/lib/screens/minibar/minibar_pos_screen.dart
  hoang_lam_app/lib/widgets/minibar/minibar_cart_panel.dart
  hoang_lam_app/test/screens/declaration/declaration_export_screen_test.dart
Due: flutter

Document Round 8 UX design review
  docs/UX_DESIGN_REVIEW.md
Due: none

Fix P0 issues: localized errors, logout data leak, provider race conditions
  hoang_lam_app/lib/providers/auth_provider.dart
  hoang_lam_app/lib/providers/finance_provider.dart
  hoang_lam_app/lib/providers/folio_provider.dart
  hoang_lam_app/lib/screens/audit_log/audit_log_screen.dart
  hoang_lam_app/lib/screens/bookings/booking_detail_screen.dart
  hoang_lam_app/lib/screens/bookings/booking_form_screen.dart
  hoang_lam_app/lib/screens/finance/finance_form_screen.dart
  hoang_lam_app/lib/screens/finance/finance_screen.dart
  hoang_lam_app/lib/screens/finance/financial_category_screen.dart
  hoang_lam_app/lib/screens/finance/receipt_preview_screen.dart
  hoang_lam_app/lib/screens/group_booking/group_booking_form_screen.dart
  hoang_lam_app/lib/screens/group_booking/group_booking_list_screen.dart
  hoang_lam_app/lib/screens/guests/guest_detail_screen.dart
  hoang_lam_app/lib/screens/guests/guest_form_screen.dart
  hoang_lam_app/lib/screens/home/home_screen.dart
  hoang_lam_app/lib/screens/housekeeping/maintenance_form_screen.dart
  hoang_lam_app/lib/screens/housekeeping/maintenance_list_screen.dart
  hoang_lam_app/lib/screens/housekeeping/task_form_screen.dart
  hoang_lam_app/lib/screens/housekeeping/task_list_screen.dart
  hoang_lam_app/lib/screens/lost_found/lost_found_detail_screen.dart
  hoang_lam_app/lib/screens/lost_found/lost_found_form_screen.dart
  hoang_lam_app/lib/screens/lost_found/lost_found_list_screen.dart
  hoang_lam_app/lib/screens/messaging/message_template_screen.dart
  hoang_lam_app/lib/screens/minibar/minibar_inventory_screen.dart
  hoang_lam_app/lib/screens/minibar/minibar_pos_screen.dart
  hoang_lam_app/lib/screens/night_audit/night_audit_screen.dart
  hoang_lam_app/lib/screens/room_inspection/inspection_template_screen.dart
  hoang_lam_app/lib/screens/room_inspection/room_inspection_detail_screen.dart
  hoang_lam_app/lib/screens/room_inspection/room_inspection_form_screen.dart
  hoang_lam_app/lib/screens/room_inspection/room_inspection_list_screen.dart
  hoang_lam_app/lib/screens/settings/settings_screen.dart
Due: flutter

Update UX review doc to reflect P0 fixes
  docs/UX_DESIGN_REVIEW.md
Due: none

Adjust tests: providers, localization, duplicates
  hoang_lam_app/test/providers/auth_provider_test.dart
  hoang_lam_app/test/screens/night_audit/night_audit_screen_test.dart
  hoang_lam_app/test/widgets/bookings/booking_source_selector_test.dart
  hoang_lam_app/test/widgets/housekeeping/maintenance_filter_sheet_test.dart
  hoang_lam_app/test/widgets/housekeeping/task_filter_sheet_test.dart
  hoang_lam_backend/hotel_api/tests/test_payment.py
Due: none

Cleanup formatting: snackbars, widgets, CSV output
  hoang_lam_app/lib/screens/audit_log/audit_log_screen.dart
  hoang_lam_app/lib/screens/bookings/booking_detail_screen.dart
  hoang_lam_app/lib/screens/bookings/booking_form_screen.dart
  hoang_lam_app/lib/screens/finance/finance_screen.dart
  hoang_lam_app/lib/screens/finance/receipt_preview_screen.dart
  hoang_lam_app/lib/screens/group_booking/group_booking_form_screen.dart
  hoang_lam_app/lib/screens/guests/guest_detail_screen.dart
  hoang_lam_app/lib/screens/home/home_screen.dart
  hoang_lam_app/lib/screens/lost_found/lost_found_form_screen.dart
  hoang_lam_app/lib/screens/lost_found/lost_found_list_screen.dart
  hoang_lam_app/lib/screens/messaging/message_template_screen.dart
  hoang_lam_app/lib/screens/night_audit/night_audit_screen.dart
  hoang_lam_app/lib/screens/room_inspection/room_inspection_form_screen.dart
  hoang_lam_app/lib/screens/room_inspection/room_inspection_list_screen.dart
  hoang_lam_app/lib/screens/settings/settings_screen.dart
  hoang_lam_app/lib/widgets/minibar/minibar_cart_panel.dart
  hoang_lam_app/test/widgets/housekeeping/maintenance_filter_sheet_test.dart
  hoang_lam_backend/hotel_api/tests/test_booking_actions.py
  hoang_lam_backend/hotel_api/tests/test_role_authorization.py
  hoang_lam_backend/hotel_api/views.py
Due: backend, flutter

Remove unused django.utils.timezone import
  hoang_lam_backend/hotel_api/views.py
Due: backend

Fix DioException construction in guest tests
  hoang_lam_app/test/providers/guest_provider_test.dart
Due: none

Localize currencies, add refresh & fixes
  docs/UX_DESIGN_REVIEW.md
  hoang_lam_app/lib/l10n/app_localizations.dart
  hoang_lam_app/lib/providers/guest_provider.dart
  hoang_lam_app/lib/providers/room_provider.dart
  hoang_lam_app/lib/screens/group_booking/group_booking_detail_screen.dart
  hoang_lam_app/lib/screens/housekeeping/maintenance_detail_screen.dart
  hoang_lam_app/lib/screens/housekeeping/task_detail_screen.dart
  hoang_lam_app/lib/screens/lost_found/lost_found_detail_screen.dart
  hoang_lam_app/lib/screens/rooms/room_detail_screen.dart
  hoang_lam_app/lib/widgets/finance/currency_selector.dart
  hoang_lam_app/lib/widgets/rooms/room_status_dialog.dart
  hoang_lam_app/test/widgets/finance/currency_selector_test.dart
Due: flutter

Enhance UI accessibility, errors and backend fixes
  hoang_lam_app/lib/screens/bookings/booking_calendar_screen.dart
  hoang_lam_app/lib/screens/bookings/booking_detail_screen.dart
  hoang_lam_app/lib/screens/bookings/booking_form_screen.dart
  hoang_lam_app/lib/screens/bookings/bookings_screen.dart
  hoang_lam_app/lib/screens/finance/finance_form_screen.dart
  hoang_lam_app/lib/screens/finance/finance_screen.dart
  hoang_lam_app/lib/screens/finance/financial_category_screen.dart
  hoang_lam_app/lib/screens/guests/guest_detail_screen.dart
  hoang_lam_app/lib/screens/guests/guest_list_screen.dart
  hoang_lam_app/lib/screens/housekeeping/maintenance_form_screen.dart
  hoang_lam_app/lib/screens/housekeeping/task_form_screen.dart
  hoang_lam_app/lib/screens/minibar/minibar_inventory_screen.dart
  hoang_lam_app/lib/screens/minibar/minibar_item_form_screen.dart
  hoang_lam_app/lib/screens/minibar/minibar_pos_screen.dart
  hoang_lam_app/lib/widgets/bookings/booking_card.dart
  hoang_lam_app/lib/widgets/common/app_input.dart
  hoang_lam_app/lib/widgets/common/offline_banner.dart
  hoang_lam_app/lib/widgets/finance/record_deposit_dialog.dart
  hoang_lam_app/lib/widgets/folio/folio_item_list_widget.dart
  hoang_lam_app/lib/widgets/guests/guest_history_widget.dart
  hoang_lam_app/lib/widgets/minibar/minibar_cart_panel.dart
  hoang_lam_app/lib/widgets/minibar/minibar_item_grid.dart
  hoang_lam_app/test/widgets/bookings/booking_card_test.dart
  hoang_lam_backend/hotel_api/migrations/0020_unique_receipt_number_and_balance_fix.py
  hoang_lam_backend/hotel_api/migrations/0021_add_indexes_and_constraints.py
  hoang_lam_backend/hotel_api/models.py
  hoang_lam_backend/hotel_api/serializers.py
  hoang_lam_backend/hotel_api/tests/test_integration_flows.py
  hoang_lam_backend/hotel_api/views.py
Due: backend, flutter

Round 9 audit: docs, bookings keyboard, receipt
  docs/UX_DESIGN_REVIEW.md
  hoang_lam_app/lib/screens/bookings/bookings_screen.dart
  hoang_lam_backend/hotel_api/models.py
Due: backend, flutter

Round 10: verification fixes applied
  docs/UX_DESIGN_REVIEW.md
  hoang_lam_app/lib/screens/bookings/booking_calendar_screen.dart
  hoang_lam_app/lib/screens/bookings/booking_form_screen.dart
  hoang_lam_app/lib/widgets/minibar/minibar_cart_panel.dart
  hoang_lam_backend/hotel_api/models.py
Due: backend, flutter

Add Cloudflare R2 docs; make Celery env generic
  docs/DEPLOYMENT.md
  hoang_lam_backend/backend/celery.py
Due: backend

Docs: Add Cloudflare R2 and Heroku setup
  docs/DEPLOYMENT.md
Due: none
