Repository Lambert-Nguyen/hoang-lam-heritage-management: changes, and which Codecov flags are due for each by the changed paths.
All: backend, flutter

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

# Coverage thresholds
coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    # Overall project coverage
    project:
      default:
        target: 70%
        threshold: 2%
        if_not_found: success
        if_ci_failed: error
    
    # Pull request coverage
    patch:
      default:
        target: 70%
        threshold: 5%
        if_not_found: success
        if_ci_failed: error

# Files to ignore in coverage reports
ignore:
  - "hoang_lam_backend/*/migrations/**"
  - "hoang_lam_backend/*/tests/**"
  - "hoang_lam_backend/manage.py"
  - "hoang_lam_backend/backend/asgi.py"
  - "hoang_lam_backend/backend/wsgi.py"
  - "hoang_lam_app/test/**"
  - "hoang_lam_app/**/*_test.dart"
  - "hoang_lam_app/**/*.g.dart"
  - "hoang_lam_app/**/*.freezed.dart"

# Comment configuration for pull requests
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Flags for different components
flags:
  backend:
    paths:
      - hoang_lam_backend/
    carryforward: true
  
  flutter:
    paths:
      - hoang_lam_app/
    carryforward: true

Add platform-aware file saver and adapt export flow
  hoang_lam_app/lib/core/utils/file_saver.dart
  hoang_lam_app/lib/core/utils/file_saver_io.dart
  hoang_lam_app/lib/core/utils/file_saver_stub.dart
  hoang_lam_app/lib/core/utils/file_saver_web.dart
  hoang_lam_app/lib/l10n/app_localizations.dart
  hoang_lam_app/lib/repositories/declaration_repository.dart
  hoang_lam_app/lib/screens/declaration/declaration_export_screen.dart
Due: flutter

Pin Android SDK and NDK versions; set minSdk to 24
  hoang_lam_app/android/app/build.gradle.kts
Due: flutter

Style: reformat code for consistency and readability
  hoang_lam_backend/backend/settings/base.py
  hoang_lam_backend/hotel_api/admin.py
  hoang_lam_backend/hotel_api/audit.py
  hoang_lam_backend/hotel_api/management/commands/apply_retention_policy.py
  hoang_lam_backend/hotel_api/management/commands/encrypt_guest_data.py
  hoang_lam_backend/hotel_api/management/commands/seed_bookings.py
  hoang_lam_backend/hotel_api/management/commands/seed_guests.py
  hoang_lam_backend/hotel_api/management/commands/seed_nationalities.py
  hoang_lam_backend/hotel_api/management/commands/seed_room_types.py
  hoang_lam_backend/hotel_api/management/commands/seed_rooms.py
  hoang_lam_backend/hotel_api/messaging_service.py
  hoang_lam_backend/hotel_api/models.py
  hoang_lam_backend/hotel_api/retention.py
  hoang_lam_backend/hotel_api/serializers.py
  hoang_lam_backend/hotel_api/services.py
  hoang_lam_backend/hotel_api/tasks.py
  hoang_lam_backend/hotel_api/tests/test_bookings.py
  hoang_lam_backend/hotel_api/tests/test_declaration.py
  hoang_lam_backend/hotel_api/tests/test_early_late_fees.py
  hoang_lam_backend/hotel_api/tests/test_encryption.py
  hoang_lam_backend/hotel_api/tests/test_finance.py
  hoang_lam_backend/hotel_api/tests/test_group_booking.py
  hoang_lam_backend/hotel_api/tests/test_guests.py
  hoang_lam_backend/hotel_api/tests/test_housekeeping.py
  hoang_lam_backend/hotel_api/tests/test_integration_flows.py
  hoang_lam_backend/hotel_api/tests/test_maintenance.py
  hoang_lam_backend/hotel_api/tests/test_management_commands.py
  hoang_lam_backend/hotel_api/tests/test_messaging.py
  hoang_lam_backend/hotel_api/tests/test_minibar.py
  hoang_lam_backend/hotel_api/tests/test_notifications.py
  hoang_lam_backend/hotel_api/tests/test_rate_pricing.py
  hoang_lam_backend/hotel_api/tests/test_reports.py
  hoang_lam_backend/hotel_api/tests/test_retention.py
  hoang_lam_backend/hotel_api/tests/test_rooms.py
  hoang_lam_backend/hotel_api/tests/test_tasks.py
  hoang_lam_backend/hotel_api/urls.py
  hoang_lam_backend/hotel_api/views.py
  hoang_lam_backend/manage.py
Due: backend

Refactor imports, CI envs & schema checks
  .github/workflows/backend-ci.yml
  hoang_lam_backend/backend/settings/base.py
  hoang_lam_backend/hotel_api/encryption.py
  hoang_lam_backend/hotel_api/management/commands/seed_message_templates.py
  hoang_lam_backend/hotel_api/messaging_service.py
  hoang_lam_backend/hotel_api/models.py
  hoang_lam_backend/hotel_api/serializers.py
  hoang_lam_backend/hotel_api/services.py
  hoang_lam_backend/hotel_api/tasks.py
  hoang_lam_backend/hotel_api/tests/test_audit.py
  hoang_lam_backend/hotel_api/tests/test_auth.py
  hoang_lam_backend/hotel_api/tests/test_bookings.py
  hoang_lam_backend/hotel_api/tests/test_dashboard.py
  hoang_lam_backend/hotel_api/tests/test_declaration.py
  hoang_lam_backend/hotel_api/tests/test_early_late_fees.py
  hoang_lam_backend/hotel_api/tests/test_encryption.py
  hoang_lam_backend/hotel_api/tests/test_finance.py
  hoang_lam_backend/hotel_api/tests/test_group_booking.py
  hoang_lam_backend/hotel_api/tests/test_guests.py
  hoang_lam_backend/hotel_api/tests/test_housekeeping.py
  hoang_lam_backend/hotel_api/tests/test_integration_flows.py
  hoang_lam_backend/hotel_api/tests/test_maintenance.py
  hoang_lam_backend/hotel_api/tests/test_management_commands.py
  hoang_lam_backend/hotel_api/tests/test_messaging.py
  hoang_lam_backend/hotel_api/tests/test_minibar.py
  hoang_lam_backend/hotel_api/tests/test_night_audit.py
  hoang_lam_backend/hotel_api/tests/test_notifications.py
  hoang_lam_backend/hotel_api/tests/test_payment.py
  hoang_lam_backend/hotel_api/tests/test_reports.py
  hoang_lam_backend/hotel_api/tests/test_rooms.py
  hoang_lam_backend/hotel_api/urls.py
  hoang_lam_backend/hotel_api/views.py
Due: backend

Format Blob creation and SnackBar action
  hoang_lam_app/lib/core/utils/file_saver_web.dart
  hoang_lam_app/lib/screens/declaration/declaration_export_screen.dart
Due: flutter

Collapse multiline imports to single line
  hoang_lam_backend/hotel_api/tests/test_declaration.py
  hoang_lam_backend/hotel_api/tests/test_messaging.py
  hoang_lam_backend/hotel_api/tests/test_notifications.py
  hoang_lam_backend/hotel_api/views.py
Due: backend

Cleanup imports, tests, and flake8 config
  hoang_lam_backend/.flake8
  hoang_lam_backend/hotel_api/management/commands/create_admin_users.py
  hoang_lam_backend/hotel_api/models.py
  hoang_lam_backend/hotel_api/serializers.py
  hoang_lam_backend/hotel_api/tests/test_encryption.py
  hoang_lam_backend/hotel_api/tests/test_housekeeping.py
  hoang_lam_backend/hotel_api/tests/test_integration_flows.py
  hoang_lam_backend/hotel_api/tests/test_maintenance.py
  hoang_lam_backend/hotel_api/tests/test_minibar.py
  hoang_lam_backend/hotel_api/tests/test_reports.py
  hoang_lam_backend/hotel_api/tests/test_retention.py
  hoang_lam_backend/hotel_api/views.py
Due: backend

Bump Kotlin Android plugin to 2.1.0
  hoang_lam_app/android/settings.gradle.kts
Due: flutter

Add .claude settings and format manage.py
  .claude/settings.json
  hoang_lam_backend/manage.py
Due: none

Add Fastlane release workflow and docs
  .claude/settings.json
  .github/workflows/release.yml
  docs/DEPLOYMENT.md
  hoang_lam_app/.gitignore
  hoang_lam_app/Gemfile
  hoang_lam_app/Gemfile.lock
  hoang_lam_app/android/app/build.gradle.kts
  hoang_lam_app/android/fastlane/Appfile
  hoang_lam_app/android/fastlane/Fastfile
  hoang_lam_app/ios/ExportOptions.plist
  hoang_lam_app/ios/fastlane/Appfile
  hoang_lam_app/ios/fastlane/Fastfile
  hoang_lam_app/lib/core/config/app_constants.dart
Due: flutter

Add Fastlane Apple ID/team and tidy build const
  hoang_lam_app/ios/fastlane/Appfile
  hoang_lam_app/lib/core/config/app_constants.dart
Due: flutter

Add Properties and FileInputStream imports
  hoang_lam_app/android/app/build.gradle.kts
Due: flutter

Set iOS development team and enable codesign
  hoang_lam_app/ios/Runner.xcodeproj/project.pbxproj
  hoang_lam_app/ios/fastlane/Fastfile
Due: flutter

Add Heroku deployment support and PaaS configs
  docs/DEPLOYMENT.md
  hoang_lam_app/android/app/build.gradle.kts
  hoang_lam_app/lib/core/config/env_config.dart
  hoang_lam_backend/.env.example
  hoang_lam_backend/Procfile
  hoang_lam_backend/backend/settings/base.py
  hoang_lam_backend/backend/settings/production.py
  hoang_lam_backend/backend/settings/staging.py
  hoang_lam_backend/requirements.txt
  hoang_lam_backend/runtime.txt
Due: backend, flutter

UX: role-based nav, quick actions, calendar
  docs/UX_DESIGN_REVIEW.md
  hoang_lam_app/lib/l10n/app_localizations.dart
  hoang_lam_app/lib/router/app_router.dart
  hoang_lam_app/lib/screens/bookings/booking_calendar_screen.dart
  hoang_lam_app/lib/screens/bookings/booking_form_screen.dart
  hoang_lam_app/lib/screens/bookings/bookings_screen.dart
  hoang_lam_app/lib/screens/home/home_screen.dart
  hoang_lam_app/lib/screens/more/more_menu_screen.dart
  hoang_lam_app/lib/widgets/main_scaffold.dart
  hoang_lam_backend/backend/settings/base.py
Due: backend, flutter

Format: wrap long strings and clean up widgets
  hoang_lam_app/lib/l10n/app_localizations.dart
  hoang_lam_app/lib/screens/home/home_screen.dart
  hoang_lam_app/lib/screens/more/more_menu_screen.dart
  hoang_lam_app/lib/widgets/main_scaffold.dart
Due: flutter

Add locales; use availability & route for bookings
  hoang_lam_app/lib/l10n/app_localizations.dart
  hoang_lam_app/lib/screens/bookings/booking_calendar_screen.dart
  hoang_lam_app/lib/screens/bookings/booking_form_screen.dart
Due: flutter

Connect folio/receipt and fix navigation
  docs/UX_DESIGN_REVIEW.md
  hoang_lam_app/lib/l10n/app_localizations.dart
  hoang_lam_app/lib/router/app_router.dart
  hoang_lam_app/lib/screens/bookings/booking_detail_screen.dart
  hoang_lam_app/lib/screens/rooms/room_detail_screen.dart
Due: flutter

Migrate navigation to GoRouter and add forms
  hoang_lam_app/lib/router/app_router.dart
  hoang_lam_app/lib/screens/auth/login_screen.dart
  hoang_lam_app/lib/screens/auth/splash_screen.dart
  hoang_lam_app/lib/screens/bookings/booking_calendar_screen.dart
  hoang_lam_app/lib/screens/bookings/bookings_screen.dart
  hoang_lam_app/lib/screens/finance/finance_screen.dart
  hoang_lam_app/lib/screens/guests/guest_detail_screen.dart
  hoang_lam_app/lib/screens/guests/guest_list_screen.dart
  hoang_lam_app/lib/screens/home/home_screen.dart
  hoang_lam_app/lib/screens/housekeeping/maintenance_list_screen.dart
  hoang_lam_app/lib/screens/housekeeping/task_list_screen.dart
  hoang_lam_app/lib/screens/minibar/minibar_inventory_screen.dart
  hoang_lam_app/lib/screens/more/more_menu_screen.dart
  hoang_lam_app/lib/screens/rooms/room_detail_screen.dart
  hoang_lam_app/lib/screens/rooms/room_management_screen.dart
  hoang_lam_app/lib/screens/settings/settings_screen.dart
  hoang_lam_app/lib/widgets/guests/guest_quick_search.dart
Due: flutter

Update UX design review with Round 2 fixes
  docs/UX_DESIGN_REVIEW.md
Due: none

Add USER_GUIDE.md for Hoàng Lâm Suites
  docs/USER_GUIDE.md
Due: none

Add Round 3 data connectivity audit notes
  docs/UX_DESIGN_REVIEW.md
Due: none

Fix data connectivity and provider invalidation
  docs/UX_DESIGN_REVIEW.md
  hoang_lam_app/lib/l10n/app_localizations.dart
  hoang_lam_app/lib/providers/housekeeping_provider.dart
  hoang_lam_app/lib/providers/minibar_provider.dart
  hoang_lam_app/lib/screens/bookings/booking_detail_screen.dart
  hoang_lam_app/lib/screens/bookings/booking_form_screen.dart
  hoang_lam_app/lib/screens/finance/receipt_preview_screen.dart
  hoang_lam_app/lib/screens/home/home_screen.dart
  hoang_lam_app/lib/screens/housekeeping/task_detail_screen.dart
  hoang_lam_app/lib/screens/night_audit/night_audit_screen.dart
  hoang_lam_app/lib/screens/rooms/room_detail_screen.dart
  hoang_lam_app/lib/screens/settings/settings_screen.dart
Due: flutter

Improve booking dialogs, i18n, and checkout flow
  hoang_lam_app/lib/l10n/app_localizations.dart
  hoang_lam_app/lib/screens/bookings/booking_detail_screen.dart
  hoang_lam_app/lib/screens/home/home_screen.dart
Due: flutter

Format ScaffoldMessenger and inlined extras
  hoang_lam_app/lib/screens/home/home_screen.dart
Due: flutter

Localize booking labels and add validation key
  docs/USER_GUIDE.md
  hoang_lam_app/lib/l10n/app_localizations.dart
  hoang_lam_app/lib/screens/bookings/booking_detail_screen.dart
  hoang_lam_app/lib/screens/bookings/booking_form_screen.dart
Due: flutter

Add Round 4 UX and use-case audit
  docs/UX_DESIGN_REVIEW.md
Due: none

Fix critical UX issues (Round 4)
  docs/UX_DESIGN_REVIEW.md
  hoang_lam_app/lib/l10n/app_localizations.dart
  hoang_lam_app/lib/providers/night_audit_provider.dart
  hoang_lam_app/lib/router/app_router.dart
  hoang_lam_app/lib/screens/bookings/booking_form_screen.dart
  hoang_lam_app/lib/screens/group_booking/group_booking_detail_screen.dart
  hoang_lam_app/lib/screens/minibar/minibar_pos_screen.dart
  hoang_lam_app/lib/screens/night_audit/night_audit_screen.dart
  hoang_lam_app/lib/screens/settings/settings_screen.dart
  hoang_lam_app/lib/widgets/main_scaffold.dart
  hoang_lam_app/test/screens/night_audit/night_audit_screen_test.dart
Due: flutter

Use GoRouter context.pop in guest form
  hoang_lam_app/lib/screens/guests/guest_form_screen.dart
Due: flutter

Add error handling utils, unsaved-guard & UI tweaks
  hoang_lam_app/lib/core/utils/error_utils.dart
  hoang_lam_app/lib/l10n/app_localizations.dart
  hoang_lam_app/lib/router/app_router.dart
  hoang_lam_app/lib/screens/bookings/booking_detail_screen.dart
  hoang_lam_app/lib/screens/bookings/booking_form_screen.dart
  hoang_lam_app/lib/screens/bookings/bookings_screen.dart
  hoang_lam_app/lib/screens/finance/finance_screen.dart
  hoang_lam_app/lib/screens/group_booking/group_booking_detail_screen.dart
  hoang_lam_app/lib/screens/guests/guest_detail_screen.dart
  hoang_lam_app/lib/screens/guests/guest_form_screen.dart
  hoang_lam_app/lib/screens/housekeeping/maintenance_detail_screen.dart
  hoang_lam_app/lib/screens/lost_found/lost_found_form_screen.dart
  hoang_lam_app/lib/screens/lost_found/lost_found_list_screen.dart
  hoang_lam_app/lib/screens/more/more_menu_screen.dart
  hoang_lam_app/lib/screens/rooms/room_detail_screen.dart
  hoang_lam_app/lib/screens/rooms/room_form_screen.dart
  hoang_lam_app/lib/screens/rooms/room_management_screen.dart
  hoang_lam_app/lib/widgets/common/unsaved_changes_guard.dart
  hoang_lam_app/lib/widgets/main_scaffold.dart
Due: flutter

Add audit log, booking actions & i18n strings
  hoang_lam_app/lib/core/config/app_constants.dart
  hoang_lam_app/lib/l10n/app_localizations.dart
  hoang_lam_app/lib/models/audit_log.dart
  hoang_lam_app/lib/providers/audit_log_provider.dart
  hoang_lam_app/lib/providers/auth_provider.dart
  hoang_lam_app/lib/providers/booking_provider.dart
  hoang_lam_app/lib/repositories/audit_log_repository.dart
  hoang_lam_app/lib/repositories/auth_repository.dart
  hoang_lam_app/lib/repositories/booking_repository.dart
  hoang_lam_app/lib/router/app_router.dart
  hoang_lam_app/lib/screens/audit_log/audit_log_screen.dart
  hoang_lam_app/lib/screens/auth/login_screen.dart
  hoang_lam_app/lib/screens/bookings/booking_detail_screen.dart
  hoang_lam_app/lib/screens/bookings/booking_form_screen.dart
  hoang_lam_app/lib/screens/bookings/bookings_screen.dart
  hoang_lam_app/lib/screens/finance/finance_screen.dart
  hoang_lam_app/lib/screens/group_booking/group_booking_form_screen.dart
  hoang_lam_app/lib/screens/guests/guest_detail_screen.dart
  hoang_lam_app/lib/screens/guests/guest_list_screen.dart
  hoang_lam_app/lib/screens/home/home_screen.dart
  hoang_lam_app/lib/screens/housekeeping/task_list_screen.dart
  hoang_lam_app/lib/screens/minibar/minibar_inventory_screen.dart
  hoang_lam_app/lib/screens/minibar/minibar_pos_screen.dart
  hoang_lam_app/lib/screens/more/more_menu_screen.dart
  hoang_lam_app/lib/screens/settings/settings_screen.dart
  hoang_lam_app/lib/screens/settings/staff_management_screen.dart
  hoang_lam_app/lib/widgets/common/empty_state.dart
  hoang_lam_app/lib/widgets/common/offline_banner.dart
Due: flutter

Export finance, guest prefs, and UX doc updates
  docs/UX_DESIGN_REVIEW.md
  hoang_lam_app/lib/l10n/app_localizations.dart
  hoang_lam_app/lib/repositories/finance_repository.dart
  hoang_lam_app/lib/screens/finance/finance_screen.dart
  hoang_lam_app/lib/screens/guests/guest_detail_screen.dart
Due: flutter

Round 5: Add photos, filters, export & a11y
  docs/UX_DESIGN_REVIEW.md
  hoang_lam_app/lib/l10n/app_localizations.dart
  hoang_lam_app/lib/providers/night_audit_provider.dart
  hoang_lam_app/lib/repositories/night_audit_repository.dart
  hoang_lam_app/lib/router/app_router.dart
  hoang_lam_app/lib/screens/bookings/booking_form_screen.dart
  hoang_lam_app/lib/screens/housekeeping/task_list_screen.dart
  hoang_lam_app/lib/screens/lost_found/lost_found_detail_screen.dart
  hoang_lam_app/lib/screens/lost_found/lost_found_form_screen.dart
  hoang_lam_app/lib/screens/night_audit/night_audit_screen.dart
  hoang_lam_app/lib/widgets/rooms/room_status_card.dart
Due: flutter

Format code and cleanup UI/provider files
  hoang_lam_app/lib/l10n/app_localizations.dart
  hoang_lam_app/lib/providers/audit_log_provider.dart
  hoang_lam_app/lib/providers/booking_provider.dart
  hoang_lam_app/lib/providers/night_audit_provider.dart
  hoang_lam_app/lib/repositories/audit_log_repository.dart
  hoang_lam_app/lib/repositories/booking_repository.dart
  hoang_lam_app/lib/repositories/finance_repository.dart
  hoang_lam_app/lib/screens/audit_log/audit_log_screen.dart
  hoang_lam_app/lib/screens/auth/login_screen.dart
  hoang_lam_app/lib/screens/bookings/booking_detail_screen.dart
  hoang_lam_app/lib/screens/bookings/booking_form_screen.dart
  hoang_lam_app/lib/screens/finance/finance_screen.dart
  hoang_lam_app/lib/screens/group_booking/group_booking_detail_screen.dart
  hoang_lam_app/lib/screens/guests/guest_detail_screen.dart
  hoang_lam_app/lib/screens/guests/guest_form_screen.dart
  hoang_lam_app/lib/screens/home/home_screen.dart
  hoang_lam_app/lib/screens/housekeeping/maintenance_detail_screen.dart
  hoang_lam_app/lib/screens/housekeeping/task_list_screen.dart
  hoang_lam_app/lib/screens/lost_found/lost_found_form_screen.dart
  hoang_lam_app/lib/screens/lost_found/lost_found_list_screen.dart
  hoang_lam_app/lib/screens/minibar/minibar_pos_screen.dart
  hoang_lam_app/lib/screens/more/more_menu_screen.dart
  hoang_lam_app/lib/screens/night_audit/night_audit_screen.dart
  hoang_lam_app/lib/screens/rooms/room_detail_screen.dart
  hoang_lam_app/lib/screens/rooms/room_form_screen.dart
  hoang_lam_app/lib/screens/rooms/room_management_screen.dart
  hoang_lam_app/lib/screens/settings/settings_screen.dart
  hoang_lam_app/lib/screens/settings/staff_management_screen.dart
  hoang_lam_app/lib/widgets/common/empty_state.dart
  hoang_lam_app/lib/widgets/main_scaffold.dart
  hoang_lam_app/lib/widgets/rooms/room_status_card.dart
  hoang_lam_app/test/screens/auth/login_screen_test.dart
Due: flutter

Update security contact email
  SECURITY.md
Due: none

Add Round 6 full-stack UX audit notes
  docs/UX_DESIGN_REVIEW.md
Due: none

Add auditlog migration and UI/provider fixes
  hoang_lam_app/lib/providers/auth_provider.dart
  hoang_lam_app/lib/screens/bookings/booking_form_screen.dart
  hoang_lam_backend/hotel_api/migrations/0019_auditlog.py
Due: flutter

Admin reset password, route guards, context.pop
  hoang_lam_app/lib/providers/finance_provider.dart
  hoang_lam_app/lib/providers/group_booking_provider.dart
  hoang_lam_app/lib/router/app_router.dart
  hoang_lam_app/lib/screens/bookings/booking_detail_screen.dart
  hoang_lam_app/lib/screens/bookings/booking_form_screen.dart
  hoang_lam_app/lib/screens/finance/finance_form_screen.dart
  hoang_lam_app/lib/screens/guests/guest_detail_screen.dart
  hoang_lam_app/lib/screens/pricing/date_rate_override_form_screen.dart
  hoang_lam_app/lib/screens/pricing/rate_plan_form_screen.dart
  hoang_lam_app/lib/screens/rooms/room_form_screen.dart
  hoang_lam_backend/hotel_api/serializers.py
  hoang_lam_backend/hotel_api/urls.py
  hoang_lam_backend/hotel_api/views.py
Due: backend, flutter
